<h3><%= t('config.header') %></h3>

<p>
  <label><%= t('config.enabled') %></label>
  <%= check_box_tag 'settings[enabled]', true, @settings['enabled'] %>
</p>

<p>
  <label><%= t('config.client_id') %></label>
  <%= text_field_tag 'settings[client_id]', @settings['client_id'] %>
</p>

<p>
  <label><%= t('config.openid_connect_server_url') %></label>
  <%= text_field_tag 'settings[openid_connect_server_url]', @settings['openid_connect_server_url'], :size => '60' %>
</p>

<p>
  <label><%= t('config.client_secret') %></label>
  <%= password_field_tag 'settings[client_secret]', @settings['client_secret'], :size => '60' %>
</p>

<p>
  <label><%= t('config.group') %></label>
  <%= text_field_tag 'settings[group]', @settings['group'] %>
</p>

<p>
  <label><%= t('config.admin_group') %></label>
  <%= text_field_tag 'settings[admin_group]', @settings['admin_group'] %>
</p>

<p>
  <label><%= t('config.dynamic_config_expiry') %></label>
  <%= text_field_tag 'settings[dynamic_config_expiry]', @settings['dynamic_config_expiry'] %>
</p>

<p>
  <label><%= t('config.disable_ssl_validation') %></label>
  <%= check_box_tag 'settings[disable_ssl_validation]', true, @settings['disable_ssl_validation'] %>
</p>

<fieldset class="box tabular"><legend><%=l(:label_attribute_plural)%></legend>
  attr_domain
  <p>
    <label><%= l(:field_attr_domain) %></label>
    <%= text_field_tag 'settings[attr_domain]', @settings['attr_domain'] %>
  </p>
  <p>
    <label><%= l(:field_attr_login) %></label>
    <%= text_field_tag 'settings[attr_login]', @settings['attr_login'] %>
  </p>
  <p>
    <label><%= l(:field_attr_firstname) %></label>
    <%= text_field_tag 'settings[attr_firstname]', @settings['attr_firstname'] %>
    <%= check_box_tag 'settings[attr_firstname_compose]', true, @settings['attr_firstname_compose'] %>
    <span><%= l(:first_word_only) %></span>
  </p>
  <p>
    <label><%= l(:field_attr_lastname) %></label>
    <%= text_field_tag 'settings[attr_lastname]', @settings['attr_lastname'] %>
    <%= check_box_tag 'settings[attr_lastname_compose]', true, @settings['attr_lastname_compose'] %>
    <span><%= l(:skip_first_word) %></span>
  </p>
  <p>
    <label><%= l(:field_attr_mail) %></label>
    <%= text_field_tag 'settings[attr_mail]', @settings['attr_mail'] %>
  </p>
</fieldset>
